body
{

  margin: auto;
}

table{width: 100%;}

/*
header{
  display: flex;
}
.left{
  flex:1;
    }
.right{
  flex:2;
  margin-right: 0;
}*/





article p
{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

td a
{
  color: #E7686A;
}
td fieldset
{
  width: 96px;
  height: 96px;
}


tr.Indonectetus td label
{
  font-size: 1.3em;
  color: black;
  padding-left: 1em;
  padding-top: 1em;
}
div.ngjyra table tr td

{
  color: #333333;
}
 div.ngjyra
{
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #E2E2E2;
}
tr.kufiri
{
   line-height: 1px;
  padding-bottom: 0em;
  

}
tr td p
{
  color:#9A9A9A;
}
tr td p strong
{
  color: #E2494B;
}
tr td label strong
{
  color: #999999;

}
td
{
  color: #9A9A9A;
}
p.e
{
  padding-bottom: 0.8em;
}
hr{
  background-color: lightgrey;
  border-style: groove;
padding-top: 1.5px;
padding-left: 0;
padding-right:0;
}
label.la
{
  padding-bottom: 10px;
}
#copyright
{
  padding-top: 0.4em;

}
hr.s
{
  color:darkgrey;
  padding-bottom: 1px;
  padding: none;
}
/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}*/
article{
  text-align: center;

}
#myBox{
  text-align: center;
}
#presion{
  align-items: center;
}
#mapholder{
  position: center;
}
div.w{
padding-left: 20em;
}
p{
  font-size:1.5em; 
  color: #3366cc
}
dt{
  font-size: 1.2em;
  color: #7094db
}
dd{
  color:#800060;
}
