body
{
	background-color: #FFFFFF;	
	width: 65%;
	margin: auto;
}
header{
	display: flex;
}
.left{
	flex:1;
}
.right{
	flex:2;
}
a{
	text-decoration: none;
}
body h1
{
	font-family: "Garamond", Helvetica, sans-serif
}
header nav ul li{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 18px;
	display: inline;
}
header nav#mainMenu
{

	background-color: #E2494B;
	text-align: right;
	word-spacing: 0.2em;
	border-radius: 5px;
	padding-right: 1em;
	padding-bottom: 0.7em;
	padding-top: 0.7em;
	background-size: auto;


}header nav a
{
	color: #FFFFFF;

}
a:hover
{
	font-weight: bold;
	color: #EB8486;
}
.dropdown:hover .dropdown-content {
  display: block;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E2494B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover 
{
	background-color: #E2494B;
}

.dropdown:hover .dropdown-content {
  display: block;
}