body
{
	background-color: #FFFFFF;	
	width: 65%;
	margin: auto;
}
header{
	display: flex;
}
.left{
	flex:1;
}
.right{
	flex:2;
}
a{
	text-decoration: none;
}
body h1
{

	font-family: "Garamond", Helvetica, sans-serif;

}
h1::first-letter
{
font-size: 1.2em;
}
h1
{
	font-weight:normal;
}
header nav#mainMenu
{

	background-color: #E2494B;
	text-align: right;
	word-spacing: 0.2em;
	border-radius: 5px;
	padding-right: 1em;
	padding-bottom: 0.7em;
	padding-top: 0.7em;
	background-size: auto;


}
header nav ul li{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 18px;
	display: inline;

}
{
	color: #333333;
}
header nav a
{
	color: #FFFFFF;

}
a:hover
{
	font-weight: bold;
	color: #EB8486;
}
article div.center
{
padding-right: 24em;
padding-left: 26em;
}
body
{
	padding-right:16.8em; 
	padding-left:16.8em;
}
article p
{
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
p.foto
{
	text-align: center;
}
div.center p
{
	border-radius: 5px;
}
h3.action
{
	color: white;
	font-weight: 500;
}
div.center
{
	padding-top: 2em;
	padding-bottom: 1em;
}
h3.action
{
	background-color: #E2494B;
	border-radius: 5px;

padding-left: 1em;
padding-right:1em;

}
h3.teksti
{
	text-align: center;
		font-weight: 500;
		font-family: "Frosty", Helvetica, sans-serif;
		color:#3C3C3C;
		font-weight: bold;
		font-style: italic;

}
td a
{
	color: #E7686A;
}
td fieldset
{
	width: 96px;
	height: 96px;
}


tr.Indonectetus td label
{
	font-size: 1.3em;
	color: black;
	padding-left: 1em;
	padding-top: 1em;
}
div.ngjyra table tr td

{
	color: #333333;
}
 div.ngjyra
{
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #E2E2E2;
}
tr.kufiri
{
	 line-height: 1px;
	padding-bottom: 1em;

}
tr td p
{
	color:#9A9A9A;
}
tr td p strong
{
	color: #E2494B;
}
tr td label strong
{
	color: #999999;

}
td
{
	color: #9A9A9A;
}
td input[type=submit]
{
	background-color: #E2494B;
	border-radius: 5px;
	padding-bottom:0.4em; 
	padding-top:0.4em;
	padding-right: 1em;
	padding-left:1em;
	color: white;
	font-size: 1em;
}
td input[type=email]

{
padding-top: 0.5em;
	padding-bottom: 0.25em;
padding-left: 1.2em;
	border-radius: 5px;
	text-decoration-color: grey;
}
td input[type=name]
{
	padding-top: 0.25em;
	padding-bottom: 0.25em;
padding-left: 1.2em;
	border-radius: 5px;
	text-decoration-color: grey;
}
td textarea[name=description]
{
	border-radius: 5px;
	padding-left: 1.2em;
}
p.e
{
	padding-bottom: 0.8em;
}
hr{
	background-color: lightgrey;
	border-style: groove;
}
label.la
{
	padding-bottom: 10px;
}