body
{
	background-color: #FFFFFF;
}
body h1
{
	font-family: "Garamond", Helvetica, sans-serif
}
.Shkronja h1::first-letter
{
	font-size: 1em;
}
header nav#mainMenu
{

	background-color: #E2494B;
	text-align: right;
	word-spacing: 1em;
	border-radius: 5px;


}
.
{
	color: #333333;
}
header nav a
{
	color: #FFFFFF;

}
a:hover
{
	font-weight: bold;
	color: #EB8486;
}
article div.center
{
padding-right: 23.3em;
padding-left: 25.7em;
}
body
{
	padding-right:16.8em; 
	padding-left:16.8em;
}
p.foto
{
	text-align: center;
}
div.center p
{
	border-radius: 5px;
}
h3.action
{
	color: white;
}
h3.action
{
	background-color: #E2494B;
	border-radius: 20px;

}
h3.teksti
{
	text-align: center;
}
td a
{
	color: #E7686A;
}
td fieldset
{
	width: 96px;
	height: 96px;
}
div.ngjyra table tr td

{
	color: #333333;
}


 div.ngjyra

{
	padding-left: 1em;
	padding-right: 1em;
	background-color: #E2E2E2;
}
tr.kufiri
{
	 border-top-style: solid;

}
tr td p
{
	color:#9A9A9A;
}
tr td p strong
{
	color: #E2494B;
}
tr td label strong
{
	color: #999999;

}
td
{
	color: #9A9A9A;
}
td input[type=submit]
{
	background-color: #E2494B;
	border-radius: 5px;
	color: white;
}
