.Sportet1{
	display: flex;
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
}
.Sportet3{
	display: flex;
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
}

{

}
header
{
display: space-between;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',serif;

}
 .Sportet1, .Sportet2, .Sportet3
 {
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
.pershkrimi1, .pershkrimi2, .pershkrimi3 {
	outline: pink solid 5px; 
	margin: 20px 0 20px 0;
	text-align: center;
	width: 40%;
	font-size:150%;
    font-family: 'Sorts Mill Goudy';
    font-style: normal;
   font-weight: 800;
   src: local('Sorts Mill Goudy Regular'),
   local('SortsMillGoudy-Regular'), 
   url(https://fonts.gstatic.com/s/sortsmillgoudy/v9/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHQEj6M7.woff2)
    format('woff2');
   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
.pershkrimi2
{
	-webkit-column-count: 2; /* Old Chrome, Safari and Opera */
	-moz-column-count: 2; /* Old Firefox */
	column-count: 2;
	margin-left: 350px;
	/*QIKJO E KA NDA NE 2 KOLONA TEKSTIN SI NE GAZETE*/
};
.Sportet2
{
	display: flex;
	justify-content: space-between;
}
.fotot1 img
{
	width: 533px;
	height: 354px;
}
.fotot2 img
{
	width: 533px;
	height: 354px;
}
.Sportet2{
	display: flex;
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
}


